.btn {
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.primary-btn {
  width: 138px;
  height: 48px;
}
.secondary-btn {
  width: 154px;
  height: 48px;
}
