/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

* {
  font-family: "Epilogue", sans-serif;
}

.h1 {
  font-size: 72px;
  line-height: 80px;
}

.h2 {
  font-size: 56px;
  line-height: 64px;
}

.h3 {
  font-size: 40px;
  line-height: 48px;
}

.h4 {
  font-size: 24px;
  line-height: 32px;
}

.h5 {
  font-size: 16px;
  line-height: 32px;
}

@media (max-width: 992px) {
  .h1 {
    font-size: 56px;
    line-height: 64px;
  }
  .h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .h4,
.h5 {
    font-size: 16px;
    line-height: 32px;
  }
}
.btn {
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

.primary-btn {
  width: 138px;
  height: 48px;
}

.secondary-btn {
  width: 154px;
  height: 48px;
}

.container {
  padding: 0 5%;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: content-box;
}

#header {
  background-color: #28293e;
  padding: 1.6rem 0;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header nav ul {
  width: 515px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
}
#header .header .contact-btn {
  background: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.295743);
}
#header .header .menu-icon {
  display: none;
}
@media (max-width: 992px) {
  #header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .header nav,
#header .header .contact-btn {
    display: none;
  }
  #header .header .menu-icon {
    display: block;
  }
}

#banner {
  background-color: #28293e;
  padding: 6rem 0 4rem;
  background-image: url("/assets/");
}
#banner .banner {
  display: flex;
  column-gap: 8rem;
}
#banner .banner .banner-content {
  width: 50%;
  position: relative;
}
#banner .banner .banner-content h5 {
  color: #ef6958;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 2rem 0;
}
#banner .banner .banner-content .title {
  color: #ffffff;
  position: relative;
  z-index: 1;
}
#banner .banner .banner-content .description {
  font-size: 1.6rem;
  color: #ffffff;
  opacity: 64%;
  font-weight: 400;
  line-height: 3.2rem;
  margin: 3rem 0;
  max-width: 470px;
}
#banner .banner .banner-content .how-we-work .how-we-work-btn {
  background-color: #ef6958;
  border: none;
  color: #ffffff;
}
#banner .banner .banner-content .how-we-work .contact-us-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-weight: 400;
  text-transform: capitalize;
}
#banner .banner .banner-content .banner-quote {
  display: flex;
  margin-top: 8rem;
}
#banner .banner .banner-content .banner-quote img {
  margin-right: 2rem;
}
#banner .banner .banner-content .banner-quote .quote-info .quote-text {
  font-size: 1.6rem;
  color: #ffffff;
  opacity: 64%;
  font-weight: 400;
  margin-bottom: 1rem;
}
#banner .banner .banner-content .banner-quote .quote-info .quote-owner {
  color: #ffffff;
  font-size: 1.6rem;
}
#banner .banner .banner-content .star-image {
  position: absolute;
  top: 5%;
  right: 20%;
}
#banner .banner .banner-image {
  width: 50%;
  display: flex;
  align-items: center;
}
#banner .banner .banner-image img {
  width: 100%;
}

#partners {
  background-color: #fdf0e9;
}
#partners .partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 8rem 0;
  border-bottom: 0.1rem solid #f3d1bf;
}
#partners .partners img {
  margin: 1rem 1rem 0;
}

#about {
  background-color: #fdf0e9;
  padding: 6rem 0 4rem;
}
#about .about {
  display: flex;
  column-gap: 8rem;
}
#about .about .about-image {
  width: 50%;
  display: flex;
  align-items: center;
}
#about .about .about-image img {
  width: 100%;
}
#about .about .about-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .about .about-content .center h5 {
  color: #ef6d58;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}
#about .about .about-content .center h2 {
  color: #391400;
  margin: 2rem 0;
}
#about .about .about-content .center .about-sub-title {
  color: #391400;
  font-size: 2rem;
  line-height: 3.2rem;
}
#about .about .about-content .center .about-description {
  color: #391400;
  opacity: 64%;
  font-size: 1.6rem;
  line-height: 3.2rem;
  margin: 2rem 0 4rem;
}
#about .about .about-content .center .about-us-btn {
  color: #391400;
  background: #ffffff;
  border: none;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  font-weight: 900;
}
#about .about-extra-info {
  display: flex;
  margin: 8rem 0;
}
#about .about-extra-info .about-info-box {
  border: 1px solid #f3d1bf;
  width: 33.3%;
  padding: 4rem;
}
#about .about-extra-info .about-info-box .h3 {
  color: #391400;
  font-weight: 800;
  margin-bottom: 1.3rem;
}
#about .about-extra-info .about-info-box .box-content {
  font-size: 2rem;
  line-height: 3.2rem;
}
#about .about-extra-info .about-info-box:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: unset;
}
#about .about-extra-info .about-info-box:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: unset;
}

@media (max-width: 1024px) {
  #banner {
    padding: 3rem 0;
  }
  #banner .banner {
    display: flex;
    column-gap: 5rem;
  }
  #banner .banner .banner-content .banner-quote {
    margin-top: 5rem;
  }
  #banner .banner .banner-content .star-image {
    right: 0;
  }
  #banner .banner .banner-image img {
    width: 100%;
  }
  #partners .partners {
    padding: 5rem 0;
  }
}
@media (max-width: 768px) {
  #banner {
    padding: 2rem 0;
  }
  #banner .banner {
    display: flex;
    flex-direction: column;
  }
  #banner .banner .banner-content {
    width: 100%;
    order: 2;
  }
  #banner .banner .banner-content .star-image {
    display: none;
  }
  #banner .banner .banner-image {
    width: 100%;
  }
  #partners .partners {
    padding: 3rem 0;
  }
  #about {
    padding: 3rem 0;
  }
  #about .about {
    display: flex;
    flex-direction: column;
  }
  #about .about .about-image {
    width: 100%;
    margin-bottom: 2rem;
  }
  #about .about .about-content {
    width: 100%;
  }
  #about .about .about-content h2 {
    margin: 1.5rem 0;
  }
  #about .about .about-content .about-description {
    margin: 1em 0 2rem;
  }
  #about .about-extra-info {
    flex-direction: column;
    margin: 4rem 0;
  }
  #about .about-extra-info .about-info-box {
    width: 100%;
    padding: 3rem;
  }
  #about .about-extra-info .about-info-box .h3 {
    margin-bottom: 1.3rem;
  }
  #about .about-extra-info .about-info-box:first-child {
    border-bottom: unset;
    border-bottom-left-radius: unset;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-right: 1px solid #f3d1bf;
  }
  #about .about-extra-info .about-info-box:last-child {
    border-top: unset;
    border-top-right-radius: unset;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 1px solid #f3d1bf;
  }
}/*# sourceMappingURL=main.css.map */