#banner {
    background-color: $bg_banner;
    padding: 6rem 0 4rem;
    background-image: url("/assets/");
    .banner {
        display: flex;
        column-gap: 8rem;
        .banner-content {
            width: 50%;
            position: relative;
            h5 {
                color: $primary-color;
                font-weight: 400;
                letter-spacing: 3px;
                margin: 2rem 0;
            }
            .title {
                color: $white;
                position: relative;
                z-index: 1;
            }
            .description {
                font-size: 1.6rem;
                color: $white;
                opacity: 64%;
                font-weight: 400;
                line-height: 3.2rem;
                margin: 3rem 0;
                max-width: 470px;
            }
            .how-we-work {
                .how-we-work-btn {
                    background-color: $primary_color;
                    border: none;
                    color: $white;
                }
                .contact-us-btn {
                    background-color: transparent;
                    border: none;
                    color: $white;
                    font-weight: 400;
                    text-transform: capitalize;
                }
            }
            .banner-quote {
                display: flex;
                margin-top: 8rem;
                img {
                    margin-right: 2rem;
                    height: 48px;
                }
                .quote-info {
                    .quote-text {
                        font-size: 1.6rem;
                        color: $white;
                        opacity: 64%;
                        font-weight: 400;
                        margin-bottom: 1rem;
                    }
                    .quote-owner {
                        color: $white;
                        font-size: 1.6rem;
                    }
                }
            }
            .star-image {
                position: absolute;
                top: 5%;
                right: 20%;
            }
        }
        .banner-image {
            width: 50%;
            display: flex;
            align-items: center;
            img {
                width: 100%;
            }
        }
    }
}
#partners {
    background-color: $bg_color;
    .partners {
        @include flexCenter(space-between);
        flex-wrap: wrap;
        padding: 4rem 0 4.5rem;
        border-bottom: 0.1rem solid #f3d1bf;
        img {
            margin: 1rem 1rem 0;
        }
    }
}
#about {
    background-color: $bg_color;
    padding: 6rem 0 4rem;
    .about {
        display: flex;
        column-gap: 8rem;
        .about-image {
            width: 50%;
            display: flex;
            align-items: center;
            img {
                width: 100%;
            }
        }
        .about-content {
            width: 50%;
            @include flexCenter;
            .center {
                h5 {
                    color: #ef6d58;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-weight: 400;
                }
                h2 {
                    color: $text_dark;
                    margin: 1.5rem 0;
                }
                .about-sub-title {
                    color: $text_dark;
                    font-size: 2rem;
                    line-height: 3.2rem;
                }
                .about-description {
                    color: $text_dark;
                    opacity: 64%;
                    font-size: 1.6rem;
                    line-height: 3.2rem;
                    margin: 2rem 0 3rem;
                }
                .about-us-btn {
                    color: $text_dark;
                    background: $white;
                    border: none;
                    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
                    font-weight: 900;
                }
            }
        }
    }
    .about-extra-info {
        display: flex;
        margin: 8rem 0 6rem;
        .about-info-box {
            border: 1px solid #f3d1bf;
            width: 33.3%;
            padding: 4rem;
            .h3 {
                color: $text_dark;
                font-weight: 800;
                margin-bottom: 1.3rem;
            }
            .box-content {
                font-size: 2rem;
                line-height: 3.2rem;
            }
            &:first-child {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                border-right: unset;
            }
            &:last-child {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                border-left: unset;
            }
        }
    }
}
#how-we-work {
    background-color: $bg_color;
    .how-we-work {
        display: flex;
        padding-bottom: 5rem;
        border-bottom: 0.1rem solid #f3d1bf;
        .how-we-work-content {
            width: 50%;
            .h5 {
                color: #ef6d58;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: 400;
                margin-bottom: 1.7rem;
            }
            .h3 {
                max-width: 450px;
                color: $text_dark;
            }
            .description {
                color: $text_dark;
                opacity: 64%;
                font-size: 1.6rem;
                line-height: 3.2rem;
                margin: 3rem 0;
                max-width: 470px;
            }
            .read-more {
                font-size: 16px;
                color: $text_dark;
            }
        }
        .how-we-work-features {
            width: 50%;
            padding-top: 8rem;
            .feature {
                color: $text_dark;
                @include flexCenter(flex-start);
                .h1 {
                    margin-right: 6.6rem;
                }
                &:first-child {
                    .h4 {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}
#video-reel {
    background-color: $bg_color;
    padding: 8rem 0 4rem;
    .video-reel {
        display: flex;
        column-gap: 8rem;
        .video-reel-image {
            width: 50%;
            display: flex;
            align-items: center;
            position: relative;
            .play-icon {
                width: 148px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            img {
                width: 100%;
            }
        }
        .video-reel-content {
            width: 50%;
            @include flexCenter;
            .center {
                h5 {
                    color: #ef6d58;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-weight: 400;
                }
                h3 {
                    color: $text_dark;
                    margin: 1.5rem 0;
                }
                .video-reel-description {
                    color: $text_dark;
                    opacity: 64%;
                    font-size: 1.6rem;
                    line-height: 3.2rem;
                    max-width: 470px;
                }
            }
        }
    }
}
#features {
    background-color: $bg_color;
    padding: 8rem 0 4rem;
    .features {
        display: flex;
        column-gap: 8rem;
        .features-image {
            width: 50%;
            display: flex;
            align-items: center;
            img {
                width: 100%;
            }
        }
        .features-content {
            width: 50%;
            @include flexCenter;
            .center {
                h5 {
                    color: #ef6d58;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-weight: 400;
                }
                h3 {
                    color: $text_dark;
                    margin: 1.5rem 0;
                }
                .features-description {
                    color: $text_dark;
                    font-size: 1.6rem;
                    line-height: 3.2rem;
                    max-width: 470px;
                    margin: 2rem 0;
                }
                .features-list-item {
                    display: flex;
                    align-items: center;
                    margin: 1.5rem 0;
                    p {
                        font-size: 16px;
                        color: $text_dark;
                        opacity: 64%;
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    #banner {
        padding: 3rem 0;
        .banner {
            display: flex;
            column-gap: 5rem;
            .banner-content {
                .banner-quote {
                    margin-top: 5rem;
                }
                .star-image {
                    right: 0;
                }
            }
            .banner-image {
                img {
                    width: 100%;
                }
            }
        }
    }
    #partners {
        .partners {
            padding: 5rem 0;
        }
    }
}

@media (max-width: 768px) {
    #banner {
        padding: 2rem 0;
        .banner {
            display: flex;
            flex-direction: column;
            .banner-content {
                width: 100%;
                order: 2;
                .star-image {
                    display: none;
                }
            }
            .banner-image {
                width: 100%;
            }
        }
    }
    #partners {
        .partners {
            padding: 3rem 0;
        }
    }
    #about {
        padding: 3rem 0;
        .about {
            flex-direction: column;
            .about-image {
                width: 100%;
                margin-bottom: 2rem;
            }
            .about-content {
                width: 100%;
                h2 {
                    margin: 1.5rem 0;
                }
                .about-description {
                    margin: 1em 0 2rem;
                }
            }
        }
        .about-extra-info {
            flex-direction: column;
            margin: 4rem 0;
            .about-info-box {
                width: 100%;
                padding: 2rem;
                .h3 {
                    margin-bottom: 1.3rem;
                }
                &:first-child {
                    border-bottom: unset;
                    border-bottom-left-radius: unset;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    border-right: 1px solid #f3d1bf;
                }
                &:last-child {
                    border-top: unset;
                    border-top-right-radius: unset;
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                    border-left: 1px solid #f3d1bf;
                }
            }
        }
    }
    #how-we-work {
        .how-we-work {
            padding-bottom: 3rem;
            flex-direction: column;
            .how-we-work-content {
                width: 100%;
            }
            .how-we-work-features {
                width: 100%;
                padding-top: 4rem;
                .feature {
                    .h1 {
                        margin-right: 3.6rem;
                    }
                }
            }
        }
    }
    #video-reel {
        padding: 4rem 0 2rem;
        .video-reel {
            flex-direction: column;
            .video-reel-image {
                width: 100%;
            }
            .video-reel-content {
                width: 100%;
                padding-top: 3rem;
            }
        }
    }
    #features {
        background-color: $bg_color;
        padding-top: 3rem;
        .features {
            flex-direction: column;
            .features-image {
                width: 100%;
                order: 1;
            }
            .features-content {
                width: 100%;
                order: 2;
            }
        }
    }
}
